<% if @team.present? %>
  <h1 class="text-2xl flex items-center my-8">
    <%= image_tag("logos/#{@team.abbr.downcase}.svg", size: 55, class: "mr-4" ) %>
    <span>
      <%= @team.name %>
    </span>
  </h1>

  <%= link_to 'Last Game Lines', "https://frozenpool.dobbersports.com/frozenpool_lastgamelines.php?team=#{@team.dobber_abbr}", target: :_blank %>
<% end %>

<div class="">
  <% @tweets.reverse_each do |tweet| %>
    <%= tweet.tweet_embed_code.html_safe %>
  <% end %>
</div>
